

 


  @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@700&display=swap');
  .navbar-brand{
    font-weight: bold;
    font-size: 30px;
   
  
  }
  
  .nav-item:hover{
    background-color:rgb(110, 108, 108);
    border-radius: 20px;
    transition: 0.3s;
    
    
  }
  body{
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("/src/images/pizzas.jpg") no-repeat center center/cover;
      /* height: 190vh; */
      /* width: 201vh; */
      
    
     
  }
  
  
  
   .container{
    display: flex;
    margin: 0%;
    
  }
  
  .box{
   
    color: lightyellow;
    display: inline-block;
    margin-top: 38vh;
    margin-left: 15vh;
    height: 34vh;
    width: 90vh;
  }
  .h1{
     font-size: 50px;
  }
  .p{
    font-size: 20px;
  }
  .pizza img{
       width: 120vh;
    margin: 13vh -20vh;
    display: inline-block;
  }
  .btn{
    background-color: transparent;
    padding: 5px 40px;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid white;
  }
  .btn:hover{
  
    background-color: orange;
  
  }
  
  .animated{
    animation:up-down 2s ease-in-out infinite alternate-reverse both;
  }
  
  @-webkit-keyframes up-down{
    0%{
      transform: translateY(20px);
    }
    100%{
      transform: translateY(-10px);
    }
  }
  @keyframes up-down {
    0%{
      transform: translateY(20px);
    }
    100%{
      transform: translateY(-20px);
    }
  }
  .section{
    height: 130vh;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("/src/images/hotpizza.jpg") no-repeat center center/cover;
  
  }
  .p1{
    color:green;
    font-size: 20px;
    font-weight: bold;
  }
  
  .card-img-top{
    
    border-radius: 5px;
    
  }
  
  .container-card{
    
  display: grid;
  width: 140vh;
  margin: 5vh 28vh;
  text-align: center;
  grid-template-columns: repeat(3,1fr);
  column-gap: 10vh;
  row-gap: 5vh;
  font-family: 'Baloo Bhaina 2', cursive;
  
  }
 
  
  .services{
    text-align: center;
    color: orange;
  }
  .card{
    height: 51vh;
    box-shadow: 5px 5px 15px -5px rgba(170,170,170,0.8);
    transition: 0.5s ease-in-out;
  }

  .card:hover{
  transform: translateY(-30px);
  
  }
  .card-title{
    font-size: 36px;
    color: orange;
  }
  .card-text{
    font-size: larger;
  }
  .contact_img img{
    width: 50vh;
  }
  
  .images img{
    
    width: 46vh;
    border: 2px solid white;
  
   
    
  }
  
  .section_img{
    text-align: center;
    margin: 15vh;
    
  }
  .imagefluid{
    
    transition: 0.2s;
    width: 50vh;
     border-radius: 15px;
      margin: 17px 10px;
      box-shadow: 5px 5px 15px -5px rgb(270,270,270,0.2);
  }
  
  .imagefluid:hover{
    transform: translateY(-20px);
    box-shadow: 5px 5px 15px -5px rgb(270,270,270,0.9);
  }
  .h1_contact{
    color: orange;
    margin: 35px 21px;
    margin-top: -74px;
  }  
  @media only screen and (max-width:1220px) {
    
  } 
  
   
  